header {
  padding-top: 120px;
  height: calc(120px + 400px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d6a05e;
  background-image: url("https://www.transparenttextures.com/patterns/light-paper-fibers.png");
}