nav {
  display: flex;
  top: 0;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  align-content: center;
  justify-content: space-between;
  position: fixed;
}

span.logo {
  margin: 1.5em;
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
}

span.write-toggle{
  display: flex;
  margin: 0 1.5em;
  flex-direction: column;
}

#nav-arrow{
  display: flex;
  color: #d6a05e;
  justify-content: center;
}
