nav {
  display: flex;
  top: 0;
  height: 120px;
  width: 100vw;
  align-content: center;
  justify-content: space-between;
  position: fixed;
}

span.logo {
  margin: 1.5em;
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
}

span.arrow-text{
  display: flex;
  margin: 0 1.5em;
  flex-direction: column;
}

.nav-arrow{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #d6725e;
}

@media only screen and (min-width: 320px) {
  nav {
    color: #4056A1;
    background-color: transparent;
  } 

}

@media only screen and (min-width: 768px) {
  nav {
    color: #FFFFFF;
    background-color: #4056A1;
  }
}