section.new-tweet {
  padding: 1em 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

textarea {
  width: 90%;
  height: 40px;
  resize: none;
  background: transparent;
  border: none;
}

footer.write-new-tweet {
  width: 90%;
  padding-top: 0.5em;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  border-style: groove;
  border-width: 5px 0 0 0;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;

  border-width: 0;
}

textarea:focus,
button:focus {
  outline: none;
}

.red {
  color: #b01a1a;
}

.highlight {
  box-shadow: 0 0 5px 5px #938ce2;
}